article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* General Elements */

* {
	margin: 0;
	padding: 0;
	outline: 0 none;
}

html {
	height: 100%;
}


font-family: 'Roboto Slab', serif;
@font-face {
	font-family: 'Roboto Slab';
}

@font-face {
	font-family: 'Roboto Slab';
}

h1 {
	font-family: 'Roboto Slab';
	font-size:2em;
	text-transform:uppercase;
	font-weight: 700;
}

h3 {
	font-family: 'Roboto Slab';
	font-size:1.4em;
	text-transform:uppercase;
	font-weight: 700;
	margin-bottom: 3px
}

h2 {
	font-family: 'Roboto Slab';
	font-size:0.95em;
	text-transform:uppercase;
	font-weight: 700;
	display: inline;
}

body {
	font-family: 'Roboto Slab';
	color: #000;

	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-size-adjust: 220%;
	-ms-text-size-adjust: 220%;
	-moz-text-size-adjust: 220%;
	-webkit-text-size-adjust: 220%;
}

img {
	vertical-align: middle;
	border: 0 none;
	display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    -webkit-border-radius: 99%;
    border-radius: 99%;
    -moz-border-radius: 90%;
    -ms-border-radius: 90%;
    -o-border-radius: 90%;
}

a {
	padding-bottom: 5px;
	color: darkred;
	text-decoration: none;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: 400;
}

a:hover {
	position:relative;
	top:-2px;
}

p {
	margin-bottom: 24px;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.6;

	-webkit-font-smoothing: antialiased;
}

p:last-child {
	margin-bottom: 0;
}

p.intro {
	font-size: 1.2em;
}


ul {
	margin-bottom: 24px;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5em;
	margin-left: 15px;
	margin-right: 60px;
	-webkit-font-smoothing: antialiased;
}

@media (max-width : 1023px) { /*for mobile to prevent double width lines in browser*/
   ul {
	  line-height: 1em;
   }
}


ul:last-child {
	margin-bottom: 0;
}

ul.intro {
	font-size: 1em;
}

ul.pubs > li{
	margin-bottom: 1.2em;
}

.aParent div {
  float: left;
  clear: both;
}

.wrapper {
	margin-top: 60px;
	margin-left: 60px;
	margin-right: 60px;
    padding-bottom: 2cm;
}

.posts-wrapper {
	max-width: 1110px;
	/*max-width: 1300px;*/
	margin-left:auto;
	margin-right:auto;
}

.question {
	margin-left: 40px;
	padding:5px;
	border-width:1px;
	border-color:darkred;
	border-style: solid solid solid solid;
 	height: 192px; width: 800px; overflow: auto;
 	font-size:0.8em;
}

.post {
}


.hidden {
    display: none;
}
.unhidden {
    display: table;
    position:relative;
/*    width:80%;
*/}

pre {
	background-color: #f5f5f5;
	color: #110000;
	border: 3;
	font-size:0.9em;
	line-height:1.2em;
	max-width: 950px;

	whitewhite-space: pre-wrap;       /* css-3 */
	whitewhite-space: -pre-wrap;      /* Opera 4-6 */
	whitewhite-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5+ */
	whitewhite-space: -moz-pre-wrap;  /* Older Versions of Mozilla */
}


::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 0.75em;
}

/*::-webkit-scrollbar:horizontal {
    height: 12px;
}*/

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1em;
    border: 2px solid #ffffff;
}

.badge-code {
    color: #fff;
    background-color: #28a745;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.box{
    float:left;
    margin-right:20px;
}
.clear{
    clear:both;
}

.image-cropper {
    max-width: 100px;
    height: auto;
    position: relative;
    overflow: hidden;
}

/*.showme {
  display: none;
}

.showhim:hover .showme {
  display: block;
}*/